    body {
        background-color: #cccccc;
        font-family: 'Comic Neue', sans-serif;
        background-image: url('images/background.jpg');
    }

    .content-section, footer {
        background-image: none;

    }

    div {
        text-align: center;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    header {
        margin: 42px 0;
        border-bottom: 5px ridge #29d962;
    }

    header .active-menu {
        color: #7a41ff;
        text-decoration: none;
    }

    h1 {
        font-size: 3em;
    }

    header .menu {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 1.2em;
    }

    header .menu span {
        margin: 10px;
    }

    .facebook {
        height: 3em;
    }

    .email-item {
            margin: 0.8em;
        }

    @media screen and (min-width: 659px) {
            .home h2 {
                margin-bottom: 4em;
            }

            .content-section {
                margin-bottom: 4em;
            }
        }
    

    @media screen and (max-width: 659px) {

        header .logo,
        .shows img,
        .links img {
            width: 100%;
        }

        body .flex-container {
            flex-direction: column;
        }

        .contact .email-item a {
            margin: 0;
        }

        header img:first-of-type {
            display: none;
        }

        header img {
            /* when the flex-direction is column we don't need the right margin*/
            margin-right: 0px;
        }

    }

    .contact .flex-container {
        flex-direction: column;
    }

    @media screen and (max-width: 426px) {
        .coming-soon {
            margin-top: 1.5em;
        }

        .vinyl {
            display: block;
            margin-bottom: 1em;
        }
    }

    @media screen and (max-width: 329px) {
        body .home a img {
            height: 5em;
        }

        body .home a span,
        .home span.vinyl {
            font-size: 1em;
        }

    }

    .content-section {
        display: none;
    }

    .visible {
        display: block;
    }

    .contact a {
        font-size: 2rem;
        color: blue;
        margin: 0 2rem;
    }

    footer {
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-size: 1.3em;
        margin-top: 2em;
    }

    footer div {
        margin-bottom: .5em;
    }

    footer img {
        height: 2em;
    }

    .home img {
        vertical-align: middle;
        height: 7em;
        margin: 0 1.5em 1.5em 0;
    }

    .home span {
        margin-right: 1em;
        font-size: 1.5em;
    }

    .awards img:first-of-type {
        height: 5em;
    }

    .awards {
        margin-top: 2em;
    }